services:
  redis:
    image: redis:7
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      dockerfile: backend/Dockerfile
    depends_on:
      - redis:
        condition: service_healthy
    restart: always
    env_file:
      - .env
    environment:
      REDIS_URL: redis://redis:6379
    ports:
    - "8000:8000"