<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
    <form action="/" method="get">
        <label for="city">Выберите city:</label>
        <select name="city" id="city">
            <option value="ufa">ufa</option>
            <option value="sibay">sibay</option>
            <option value="moscow">moscow</option>
        </select>

        <label for="period">Выберите period:</label>
        <select name="period" id="period">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="7">7</option>
        </select>
        <button>Send</button>
    </form>

    <table>
        <caption>Прогноз погоды в <span id=city_name>{{ address }}</span></caption>
        <thead>
            <tr>
            <th></th>
            {% for day in days %}
                <th>{{ day.datetime }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>

            {% for label, field in params %}
                <tr>
                    <th>{{label}}</th>
                    {% for day in days %}
                    <td>{{ day[field] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>